name: Regression Tests

on: [workflow_dispatch, push]

# .github/workflows/ci.yaml
permissions:                 # least-privilege principle
  contents: read             # widen only if you need more
  pull-requests: write

jobs:
  regression:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: config_samples/lido_dao_holesky_config.json
            hardhat: hardhat_configs/holesky_hardhat_config.js
          - config: config_samples/lido_dao_sepolia_config.json
            hardhat: hardhat_configs/sepolia_hardhat_config.js
    env:
      ETHERSCAN_EXPLORER_TOKEN: ${{ secrets.ETHERSCAN_EXPLORER_TOKEN }}
      GITHUB_API_TOKEN: ${{ github.token }}
      LOCAL_RPC_URL: 'http://127.0.0.1:7545'
      REMOTE_RPC_URL: ${{ secrets.REMOTE_RPC_URL }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install Poetry
        run: |
          pip install poetry~=1.8
      - name: Install dependencies
        run: |
          poetry install --no-interaction
          npm ci
      
      - name: Run unit tests
        run: |
          poetry run pytest -q
      
      - name: Run diffyscan
        run: |
          poetry run diffyscan --hardhat-path ${{ matrix.hardhat }} ${{ matrix.config }} -Y -B
